@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Quicksand:wght@300..700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* Light Theme (Default) */
body {
    background: linear-gradient(90deg, #92b6ea, #cdd8e7);
    background-size: 200% 200%;
    animation: moveGradient 8s linear infinite alternate;
    color: black;
    font-family: Arial, sans-serif;
}

.card {
    flex-direction: row;
    margin-bottom: 35px;
    font-family: "Quicksand", serif;
    padding: 20px;
}
.card img {
    width: 250px;
    max-width: 225px;
    max-height: 225px;
    margin: 10px 25px 10px 10px;
    border: 3px #0066ec solid ;
}

.theme-container {
    padding: 20px;
    border: 2px solid #743400;
    border-radius: 30px 30px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#theme-toggle {
    background: #68cceb;
    color: #000000;
    border: 4px solid #743400;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.dark-theme #theme-toggle {
    background: #021555;
    color: #fff;
    border: 4px solid #ffbe69;
}

#theme-toggle:hover {
    transform: scale(1.075);
}

/* Dark Theme */
.dark-theme {
    background: linear-gradient(90deg, #111111, #555555); /* Dark to gray transition */
    background-size: 200% 200%;
    animation: moveGradient 8s linear infinite alternate;
    color: white;
}

#profiili-lista{
    margin-right: 0%;
    list-style-type:none;
}

#proimg{
    margin-left: 2%;
}

.profiili-container {
    max-width: 1600px;
    max-height: auto;
    text-align: left;
    font-size: 20px;
    background-color: white;
    padding: 75px;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-35%);
}

#profiili-lista {
    color: teal;
}

h2 {
    color: black;
}

/* Gradient Animation */
@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
  }

.content {
    min-height: 71vh
}

#msg-title {
    padding: 2px;
    margin: 15px 5px 0px 5px;
    border-bottom: 3px solid #000000;
}

#storeContainer {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 25px 225px 25px 225px;
    background-color: grey;
}

.message-container {
    background-color: white;
    margin: 25px;
    border: 5px solid grey;
    border-radius: 10px;
    max-height: 600px;
    overflow: scroll;
}

.delMsg:hover {
    color: red;
    cursor: pointer;
}

footer {
    background-color: white;
    width: 100%;
    bottom: 0;
    height: 100px;
}

/* Header */
header.header-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #3d74c2;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    height: 170px;

}

header .logo-container img {
    height: 120px;
    width: auto;
}

.header-grid .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.buttonlogin {
    background-color: #d0d0d4;
    height: 50px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 300px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

.buttonlogin:hover {
    background-color: #dedff0;
}

.storeb {
    background-color: #d0d0d4;
    height: 50px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

.storeb:hover {
    background-color: #dedff0;
}

.profileb {
    background-color: #d0d0d4;
    height: 50px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

.profileb:hover {
    background-color: #dedff0;
}

.adb {
    background-color: #d0d0d4;
    height: 50px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}


.logoutbutton {
    background-color: #d0d0d4;
    height: 50px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

.logoutbutton:hover {
    background-color: #dedff0;
}

#logoutbuttonStore, #logoutbuttonIndex, #logoutbuttonProfile {
    display: none;
}

.card {
    margin-top: 25px;
}

.frontpage {
    background-color: #d0d0d4;
    height: 50px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

.frontpage:hover {
    background-color: #dedff0;
}

/*Esittelyteksti ja kuva*/

.imgContainer {
    position: relative;
    width: 100%;
}

.menwithshirt {
    width: 100%;
    height: auto;
    filter: brightness(70%);
}

.imgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-align: center;
    font-family: "DM Serif Display", serif;
    white-space: nowrap;
}


.introductoryText {
    max-width: 1300px;
    text-align: left;
    font-family: "Quicksand", serif;
    font-size: 20px;
    background-color: rgb(243, 244, 252);
    color: black;
    padding: 50px;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-50%);
}

/* Ohjeistuskuvat */

.infotext {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 40px;
    justify-content: center;
    align-items: start;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10%;
    max-width: 1300px;
}

.infotext-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.infotext-item p {
    margin-top: 10px;
    max-width: 300px;
    text-align: center;
    font-family: "Quicksand", serif;
}

.info {
    margin: 50px;
    text-align: center;
    font-family: "Frijole", serif;
    font-size: 50px;
}

.infotext-item img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}


/* Kirjautumislomake */
.login {
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h2 {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

.login h3 {
    text-align: center;
}

#loginerror {
    text-align: center;
}

.login input {
    display: block;
    width: 80%;
    margin: 5px auto 5px;
}

.loginbuttons {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: 15px;

}

.loginbutton {
    background-color: #d0d0d4;
    height: 40px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbutton:hover {
    background-color: #dedff0;
}

#loginerror{
    color: red;
    display: none;
}

/* Rekisteröitymispainike*/
.registerbutton {
    background-color: #d0d0d4;
    height: 40px;
    width: 200px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 10px auto;
}

#registererror{
    text-align: center;
    color: red;
}

.registerbutton:hover {
    background-color: #dedff0;
}

/* Rekisteröitymislomake*/
#registerform {
    display: none;
}

.login h3 {
    margin: 10px;
    font-size: 17px;
}

.register {
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register h2 {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

.register input {
    display: block;
    width: 80%;
    margin: 5px auto 5px;
}

.createbuttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
}

.createbutton, .cancelbutton {
    background-color: #d0d0d4;
    height: 40px;
    width: 200px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createbutton:hover {
    background-color: #dedff0;
}

.cancelbutton:hover {
    background-color: #dedff0;
}


/*Responsive*/
@media only screen and (max-width: 1400px) {
    .imgText {
        font-size: 60px;
    }
}

@media only screen and (max-width: 1300px) {
    .imgText {
        font-size: 60px;
    }

    .header {
        width: 100%;
    }

    .introductoryText {
        max-width: 1000px;
        font-size: 20px;
    }

    .frontpage, .storeb, .profileb, .adb, .logoutbutton {
        height: 40px;
        font-size: 15px;
        width: 120px;
    }

    .buttonlogin {
        height: 40px;
        font-size: 15px;
        width: 230px;
    }

}

@media only screen and (max-width: 1000px) {
    body { 
        padding: 0;
    }

    .header {
        width: 100%;
    }


    .imgText {
        font-size: 40px;
    }

    .introductoryText {
        max-width: 800px;
        font-size: 17px;
        margin-top: 200px;
    }

    .buttonlogin {
        height: 40px;
        font-size: 12px;
        width: 150px;
    }

    .frontpage, .storeb, .profileb, .adb, .logoutbutton { 
        height: 40px;
        font-size: 12px;
        width: 100px;
    }

    #responsivelogo {
        height: 70px;
        width: auto;
    }

    header.header-grid  {
        height: 120px;
        width: 100%;
    }

    .infotext {
        font-size: 15px;
    }

    .infotext-item img {
        width: 60%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 810px) {
    .imgText {
        font-size: 30px;
    }

    .header {
        width: 100%;
    }


    .introductoryText {
        max-width: 500px;
        font-size: 17px;
        margin-top: 250px;
    }

    .buttonlogin {
        height: 40px;
        font-size: 10px;
        width: 100px;
    }

    .header-grid .button-container {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    #theme-toggle {
        height: 40px;
        width: 150px;
        font-size: 10px;
    }


    .frontpage, .storeb, .profileb, .adb, .logoutbutton {
        height: 20px;
        font-size: 10px;
        width: 70px;
    }

    #responsivelogo {
        height: 70px;
        width: auto;
    }

    .infotext {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .infotext-item img {
        width: 60%;
        margin-bottom: 20px;
    }

    .info {
        font-size: 35px;
        text-align: center;
    }

    .login {
        width: 500px;
        margin: 80px auto;
    }
    
    .login h2 {
        margin-bottom: 10px;
        padding: 5px;
        font-size: 20px;
    }

    .login input {
        height: 25px;
        font-size: 15px;
    }

    .register input {
        height: 25px;
        font-size: 15px;
    }
    
    
    .loginbuttons {
        align-items: center;
    }
    
    .loginbutton {
        height: 25px;
        font-size: 15px;
        width: 150px;
        padding: 0;
    }
    
    .login h3 {
        font-size: 15px;
        margin: 5px;
    }

    .registerbutton {
        height: 25px;
        width: 150px;
        font-size: 15px;
        margin: 5px auto;
    }
     
    .register {
        width: 500px;
        margin: 80px auto;
    }
    
    .register h2 {
        margin-bottom: 10px;
        padding: 5px;
        font-size: 20px;
    }
    
    
    .createbuttons {
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }
    
    .createbutton, .cancelbutton {
        height: 25px;
        font-size: 15px;
        width: 150px;
        padding: 0;
    }

}



@media only screen and (max-width: 500px) {
    body {
        padding: 0;
        margin: 0;
    }  

    #responsivelogo {
        height: 40px;
        width: auto;
    }

    .header {
        width: 100%;
    }

    header.header-grid  {
        height: 100px;
        width: 100%;
    }

    .imgText {
        font-size: 22px;
        white-space: nowrap;
    }

    .buttonlogin {
        height: 30px;
        font-size: 10px;
        width: 100px;
    }

    #theme-toggle {
        height: 40px;
        width: 130px;
        font-size: 8px;

    }

    .storeb, .logoutbutton, .profileb, .adb, .frontpage {
        height: 20px;
        font-size: 10px;
        width: 70px;
    }

    .header-grid .button-container {
        gap: 5px;
    }


    .introductoryText {
        max-width: 380px;
        font-size: 13px;
        padding: 25px;
        margin-top: 170px;
        margin-bottom: 0;
    }

    .info {
        font-size: 30px;
        text-align: center;
        margin: 0;
    }

    .infotext {
        grid-template-columns: 1fr;
        gap: 20px;
        font-size: 13px;

    }

    .infotext-item img {
        width: 60%;
        margin-bottom: 15px;
    }

    .login {
        width: 400px;
    }
    
    .loginbutton {
        height: 25px;
        font-size: 12px;
        width: 120px;
        padding: 0;
    }
    
    .login h3 {
        font-size: 12px;
        margin: 5px;
    }

    .registerbutton {
        width: 120px;
        font-size: 12px;
    }
     
    .register {
        width: 400px;
    }
    
    .createbutton, .cancelbutton {
        font-size: 12px;
        width: 120px;

    }
    
    #loginerror{ 
        font-size: 12px;
    }
}